################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Arza-Salaberry-Struyas/FileContentIndex/87bcc03c-b5af-4c31-ae7b-7457e4e3aa31.vsidx
/.vs/Arza-Salaberry-Struyas/FileContentIndex/acfb1445-697c-42de-8226-862c1a885690.vsidx
